@import "variables.scss";

:host {
    display: flex;
    width: 100%;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid $color-dark;
    position: relative;


    .bar-inner {
        width: 100%;
        transition: width 0.5s;

        &.energy {
            background-color: $color-energy;
        }

        &.health {
            background-color: $color-health;
        }

        &.mana {
            background-color: $color-mana;
        }
    }

    .value {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
        color: $color-dark;
        z-index: 10;
    }
}