@import 'variables.scss';

:host {
  .ability-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid $color-dark;
    margin-right: 5px;
    cursor: default;
    overflow: hidden;
    position: relative;

    &.passive {
      border-radius: 50%;
    }

    &.btn-small {
      width: 32px;
      height: 32px;
    }

    &.paragon {
      border-color: $color-paragon;
    }

    &.highlander {
      border-color: $color-highlander;
    }

    &.druid {
      border-color: $color-druid;
    }

    &.oracle {
      border-color: $color-oracle;
    }

    &.avatar {
      border-color: $color-avatar;
    }

    &.shadow {
      border-color: $color-shadow;
    }

    &.lightbringer {
      border-color: $color-lightbringer;
    }

    &.avenger {
      border-color: $color-avenger;
    }

    &:last-child {
      margin-right: 0;
    }

    &.disabled {
      .overlay {
        background-color: $color-dark-transparent-20;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-dark-transparent-20;
    }

    .active-hero {
      &:not(.passive) {
        cursor: pointer;

        &.selected {
          @include hero-color-shadows();
        }

        &.disabled {
          cursor: default;
        }
      }

      .overlay {
        background-color: transparent;
      }
    }
  }
}