@import 'variables.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

  .ability-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid $color-dark;
    cursor: default;
    overflow: hidden;
    position: relative;

    &.passive {
      border-radius: 50%;
    }

    &.btn-small {
      width: 32px;
      height: 32px;

      .overlay {
        font-size: 16px;
      }
    }

    &.paragon {
      border-color: $color-paragon;
    }

    &.highlander {
      border-color: $color-highlander;
    }

    &.druid {
      border-color: $color-druid;
    }

    &.oracle {
      border-color: $color-oracle;
    }

    &.avatar {
      border-color: $color-avatar;
    }

    &.shadow {
      border-color: $color-shadow;
    }

    &.lightbringer {
      border-color: $color-lightbringer;
    }

    &.avenger {
      border-color: $color-avenger;
    }

    &.navarch {
      border-color: $color-navarch;
    }

    &.disabled {
      cursor: default;

      .overlay {
        background-color: $color-dark-transparent-20;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-dark-transparent-20;
      color: $color-lightbringer;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.active-hero {
      &:not(.passive) {
        cursor: pointer;
      }

      &.always-clickable {
        cursor: pointer;
      }

      &.always-not-clickable {
        cursor: default;
      }

      &.selected {
        @include hero-color-shadows();
      }

      &.disabled {
        cursor: default;

        .overlay {
          background-color: $color-dark-transparent-20;
        }
      }

      .overlay {
        background-color: transparent;
      }
    }
  }
}

@media (max-width: $lg-width) {
  :host {
    .ability-btn {
      width: 32px;
      height: 32px;

      &.btn-small {
        width: 24px;
        height: 24px;
      }
    }
  }
}
