<div class="page-content" *ngIf="teamSetupMatrix">
  <div class="team-setup-wrapper">
    <div class="team-wrapper" *ngFor="let team of teamSetup; index as i">
      <div class="title">Team {{i + 1}}</div>
      <div class="hero-select" *ngFor="let heroSetup of team; index as i">
        <div class="hero-name">{{heroSetup.hero}}</div>
        <div class="gender-selector-wrapper">
          <button mat-raised-button [color]="heroSetup.gender == 'male' ? 'primary' : ''" (click)="heroSetup.gender = 'male'">
            <app-icon [icon]="'male'"></app-icon>
          </button>
          <button mat-raised-button [color]="heroSetup.gender == 'female' ? 'primary' : ''" (click)="heroSetup.gender = 'female'">
            <app-icon [icon]="'female'"></app-icon>
          </button>
        </div>
        <div class="hero-selector-wrapper">
          <div class="hero" [ngClass]="{'active': heroSetup.hero === 'random'}" (click)="selectHero(heroSetup, 'random')">
            <img src="./assets/images/portraits/random.png" class="portrait">
            <div class="name">Random</div>
          </div>
          <div class="hero" *ngFor="let availableHero of availableHeroes" [ngClass]="{'active': heroSetup.hero === availableHero.name, 'disabled': availableHero.name !== heroSetup.hero && !availableHero.isAvailable}" (click)="selectHero(heroSetup, availableHero)">
            <img [src]="'./assets/images/portraits/' + availableHero.name + '_' + heroSetup.gender + '.jpg'" class="portrait" [ngClass]="availableHero.name">
            <div class="name">{{availableHero.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="startBattle()">Start Battle</button>
</div>
<app-progress-spinner [isLoading]="isLoading"></app-progress-spinner>
