@import 'variables.scss';

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;

  .team-wrapper {
    width: 470px;
    border: 2px solid $color-dark;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;

    .crystals {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;

      app-icon {
        width: 24px;
        height: 24px;
      }

      .value {
        margin-left: 5px;
        font-weight: bold;
      }
    }

    app-hero-info {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .center-wrapper {
    width: 100%;
    border: 2px solid $color-dark;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .map-wrapper {
      display: flex;
      justify-content: center;

      .map-container {
        display: flex;
        flex-direction: column;
        border: 1px solid $color-dark;
        position: relative;

        .row {
          display: flex;
          justify-content: center;
          align-items: center;

          .tile {
            background-color: $color-light;
            border: 1px solid $color-dark;
            position: relative;

            &.wall {
              background-color: $color-gray;
            }

            &.crystal {
              background: url('../../../assets/icons/cut-diamond.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            .overlay {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              opacity: 0.7;
              cursor: pointer;

              &.move {
                display: block;
                background-color: $color-energy;
              }

              &.ability {
                display: block;
                background-color: $color-mana;
              }
            }
          }
        }

        #connectors {
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;

          .arrow {
            stroke: $color-energy;
            stroke-width: 2;
            marker-end: url(#markerArrow);
            z-index: 100;
          }

          #markerArrow {
            fill: $color-energy;
            z-index: 101;
          }

          &.ally {
            .arrow {
              stroke: $color-mana;
            }

            #markerArrow {
              fill: $color-mana;
            }
          }

          &.enemy {
            .arrow {
              stroke: $color-health;
            }

            #markerArrow {
              fill: $color-health;
            }
          }
        }

        .battle-text-event {
          position: absolute;
          display: flex;
          align-items: center;

          app-icon {
            width: 24px;
            height: 24px;
            border: 2px solid $color-dark;

            &.paragon {
              border-color: $color-paragon;
            }

            &.highlander {
              border-color: $color-highlander;
            }

            &.druid,
            &.wolf,
            &.dryad {
              border-color: $color-druid;
            }

            &.oracle {
              border-color: $color-oracle;
            }

            &.avatar,
            &.dragon-spirit {
              border-color: $color-avatar;
            }

            &.shadow,
            &.phantom {
              border-color: $color-shadow;
            }

            &.lightbringer {
              border-color: $color-lightbringer;
            }

            &.avenger {
              border-color: $color-avenger;
            }
          }

          .value {
            margin-left: 5px;
            font-size: 16px;
            font-weight: bold;

            &.damage {
              color: $color-health;
            }

            &.heal {
              color: $color-mana;
            }
          }
        }
      }
    }

    .queue-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .hero {
        position: relative;
        margin-right: 5px;
        width: 48px;
        height: 48px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .log-wrapper {
      display: flex;
      flex-direction: column;
      border: 2px solid $color-dark;
      padding: 5px;
      margin-top: 10px;
      overflow-y: auto;

      .log-message {
        .text {
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 5px;

          span {
            &.paragon {
              color: $color-paragon;
            }

            &.highlander {
              color: $color-highlander;
            }

            &.druid,
            &.wolf,
            &.dryad {
              color: $color-druid;
            }

            &.oracle {
              color: $color-oracle;
            }

            &.avatar,
            &.dragon-spirit {
              color: $color-avatar;
            }

            &.shadow,
            &.phantom {
              color: $color-shadow;
            }

            &.lightbringer {
              color: $color-lightbringer;
              text-shadow: 0 0 1px $color-dark, 0 0 1px $color-dark, 0 0 1px $color-dark, 0 0 1px $color-dark;
            }

            &.avenger {
              color: $color-avenger;
              text-shadow: 0 0 1px $color-dark, 0 0 1px $color-dark, 0 0 1px $color-dark, 0 0 1px $color-dark;
            }
          }
        }
      }
    }

    .bot-control-wrapper {
      padding: 5px;
      margin-top: 10px;

      .control-btn-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;

        .control-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $color-dark;
          margin-right: 5px;
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .map-effect {
      border-radius: 50%;
      position: absolute;
      border: 1px solid $color-dark;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;
      animation-delay: 0;

      @include hero-border-colors();

      &.animated {
        animation: flicker 2s ease alternate infinite;
      }
    }

    .hero {
      position: absolute;
      border: 2px solid $color-dark;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: top 0.5s, left 0.5s;

      @include hero-border-colors();

      .overlay {
        position: absolute;
        top: -1px;
        bottom: -1px;
        right: -1px;
        left: -1px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 20;
        background-color: $color-health;

        &.ally {
          background-color: $color-mana;
        }
      }

      &.map-effect-transparent {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
