@import "variables.scss";

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;

  .team-wrapper {
    width: 470px;
    border: 2px solid $color-dark;
    padding: 10px;
    display: flex;
    flex-direction: column;

    app-hero-info {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .center-wrapper {
    width: 100%;
    border: 2px solid $color-dark;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .map-wrapper {
      display: flex;
      justify-content: center;

      .map-container {
        display: flex;
        flex-direction: column;
        border: 1px solid $color-dark;
        position: relative;

        .row {
          display: flex;
          justify-content: center;
          align-items: center;
  
          .tile {
            background-color: $color-light;
            border: 1px solid $color-dark;
            position: relative;
  
            &.wall {
              background-color: $color-gray;
            }

            .overlay {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              opacity: 0.7;
              cursor: pointer;

              &.move {
                display: block;
                background-color: $color-energy;
              }
            }
          }
        }

        #connectors {
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;

          .arrow {
            stroke: $color-energy;
            stroke-width: 2; 
            marker-end: url(#markerArrow);
            z-index: 100;
          }
          
          #markerArrow {
            fill: $color-energy;
            z-index: 101;
          }

          &.ally {
            .arrow {
              stroke: $color-mana;
            }

            #markerArrow {
              fill: $color-mana;
            }
          }

          &.enemy {
            .arrow {
              stroke: $color-health;
            }

            #markerArrow {
              fill: $color-health;
            }
          }
        }    
        
        .battle-text-event {
          position: absolute;
          display: flex;

          .value {
            margin-left: 5px;
            font-size: 12px;
            font-weight: bold;

            &.damage {
              color: $color-health;
            }
          }
        }
      }      
    }

    .queue-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      .hero {
        position: relative;
        margin-right: 5px;
        width: 48px;
        height: 48px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .log-wrapper {
      display: flex;
      flex-direction: column;
      border: 2px solid $color-dark;
      padding: 5px;
      margin-top: 10px;
      overflow-y: auto;

      .log-message {
        margin-bottom: 5px;

        .text {
          font-size: 12px;
          font-weight: bold;

          span {
            &.paragon {
              color: $color-paragon;
            }
    
            &.highlander {
              color: $color-highlander;
            }
    
            &.druid {
              color: $color-druid;
            }
    
            &.oracle {
              color: $color-oracle;
            }
    
            &.avatar {
              color: $color-avatar;
            }
    
            &.shadow {
              color: $color-shadow;
            }
    
            &.lightbringer {
              color: $color-lightbringer;
            }
    
            &.avenger {
              color: $color-avenger;
            }
          }
        }
      }
    }

    .hero {
      position: absolute;
      border: 2px solid $color-dark;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: top 0.5s, left 0.5s;

      &.paragon {
        border-color: $color-paragon;

        &.active {
          box-shadow: 0 0 15px 2px $color-paragon;
        }
      }

      &.highlander {
        border-color: $color-highlander;

        &.active {
          box-shadow: 0 0 15px 2px $color-highlander;
        }
      }

      &.druid {
        border-color: $color-druid;

        &.active {
          box-shadow: 0 0 15px 2px $color-druid;
        }
      }

      &.oracle {
        border-color: $color-oracle;

        &.active {
          box-shadow: 0 0 15px 2px $color-oracle;
        }
      }

      &.avatar {
        border-color: $color-avatar;

        &.active {
          box-shadow: 0 0 15px 2px $color-avatar;
        }
      }

      &.shadow {
        border-color: $color-shadow;

        &.active {
          box-shadow: 0 0 15px 2px $color-shadow;
        }
      }

      &.lightbringer {
        border-color: $color-lightbringer;

        &.active {
          box-shadow: 0 0 15px 2px $color-lightbringer;
        }
      }

      &.avenger {
        border-color: $color-avenger;

        &.active {
          box-shadow: 0 0 15px 2px $color-avenger;
        }
      }

      .overlay {
        position: absolute;
        top: -1px;
        bottom: -1px;
        right: -1px;
        left: -1px;
        opacity: 0.3;
        cursor: pointer;
        z-index: 20;
        background-color: $color-health;

        &.ally {
          background-color: $color-mana;
        }
      }
    }
  }
}
