@import "variables.scss";

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;

  .team-wrapper {
    width: calc(33.3% - 20px);
    border: 2px solid $color-dark;
    padding: 10px;
    display: flex;
    flex-direction: column;

    app-hero-info {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .map-wrapper {
    width: calc(33.3% + 20px);
    border: 2px solid $color-dark;
    padding: 10px;
    margin: 0 10px;
  }
}
