@import 'variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: $page-content-min-height;
}

body {
  margin: 0;
  color: $color-dark;
  background: url('./assets/images/bg.jpg');
  background-repeat: repeat-y;
  background-size: auto 100%;
  cursor: default;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.page-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: $page-content-min-height;
}

/* XL */
@media (min-width: $lg-width) {
  .page-content {
    min-width: $lg-width;
  }
}

/* LG */
@media (min-width: $md-width) and (max-width: $lg-width) {
  .page-content {
    min-width: $md-width;
  }
}

/* MD */
@media (min-width: $sm-width) and (max-width: $md-width) {
  .page-content {
    min-width: $md-width;
  }
}

/* SM */
@media (min-width: $xs-width) and (max-width: $sm-width) {
  .page-content {
    min-width: $md-width;
  }
}

/* XS */
@media (max-width: $xs-width) {
  .page-content {
    min-width: $md-width;
  }
}

// Global styles
tooltip.tooltip {
  background: $color-light !important;
  color: $color-dark !important;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  border-radius: 0;
  width: 220px !important;
  max-width: 220px !important;
  padding: 5px;

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $color-dark;
    padding: 2px 5px;
    margin-bottom: 5px;

    .block-element {
      display: flex;
      align-items: center;
      margin-right: 5px;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }

  .params {
    border: 2px solid $color-dark;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
  }
}
