<div class="hero-info-container" [ngClass]="[isActive ? 'active' : '', hero.id]">
  <div class="hero-info-wrapper">
    <img
      [src]="'./assets/images/portraits/' + hero.id + '_' + hero.gender + '.jpg'"
      class="portrait"
      [ngClass]="[hero.id, hero.isDead ? 'dead' : '']"
    />
    <div class="hero-info">
      <div class="attributes">
        <div class="name">{{ 'HERO.' + hero.id | translate }}</div>
        <div class="attribute-wrapper">
          <div class="attribute-group">
            <div class="attribute">
              <app-icon [icon]="'fist'"></app-icon>
              <div class="value">{{ hero.strength }}</div>
            </div>
            <div class="attribute">
              <app-icon [icon]="'gift-of-knowledge'"></app-icon>
              <div class="value">{{ hero.intellect }}</div>
            </div>
          </div>
          <div class="attribute-group">
            <div class="attribute">
              <app-icon [icon]="'rosa-shield'"></app-icon>
              <div class="value">{{ hero.armor }}</div>
            </div>
            <div class="attribute">
              <app-icon [icon]="'eye-shield'"></app-icon>
              <div class="value">{{ hero.will }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bars-wrapper">
        <div class="bar-group">
          <app-icon [icon]="'wingfoot'"></app-icon>
          <app-resource-bar [value]="hero.energy" [maxValue]="hero.maxEnergy" [type]="'energy'"></app-resource-bar>
        </div>
        <div class="bar-group">
          <app-icon [icon]="'hearts'"></app-icon>
          <app-resource-bar [value]="hero.health" [maxValue]="hero.maxHealth" [type]="'health'"></app-resource-bar>
          <div class="attribute">
            <app-icon [icon]="'heart-plus'"></app-icon>
            <div class="value">{{ hero.regeneration }}</div>
          </div>
        </div>
        <div class="bar-group">
          <app-icon [icon]="'magic-palm'"></app-icon>
          <app-resource-bar [value]="hero.mana" [maxValue]="hero.maxMana" [type]="'mana'"></app-resource-bar>
          <div class="attribute">
            <app-icon [icon]="'meditation'"></app-icon>
            <div class="value">{{ hero.mind }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-bar-wrapper">
    <div class="group equip">
      <div class="buttons">
        <app-ability-btn
          [icon]="hero.id + '/' + hero.chestpiece.id"
          [classes]="[hero.id, isActive ? 'active-hero' : '', 'passive']"
          [tooltipText]="getEquipTooltip(hero.chestpiece, hero.id)"
        ></app-ability-btn>
        <app-ability-btn
          *ngIf="hero.secondaryWeapon && hero.secondaryWeapon.isPassive"
          [icon]="hero.id + '/' + hero.secondaryWeapon.id"
          [classes]="[hero.id, isActive ? 'active-hero' : '', 'passive']"
          [tooltipText]="getEquipTooltip(hero.secondaryWeapon, hero.id)"
        ></app-ability-btn>
        <app-ability-btn
          [icon]="hero.id + '/' + hero.primaryWeapon.id"
          [classes]="[
            hero.id,
            canUseWeapon(hero.primaryWeapon) ? '' : 'disabled',
            preparedWeapon && preparedWeapon.id === hero.primaryWeapon.id ? 'selected' : '',
            isActive ? 'active-hero' : ''
          ]"
          [tooltipText]="getEquipTooltip(hero.primaryWeapon, hero.id)"
          (clicked)="prepareWeaponClicked(hero.primaryWeapon)"
          [left]="hero.primaryWeapon.isUsed ? '1' : ''"
        ></app-ability-btn>
        <app-ability-btn
          [icon]="hero.id + '/' + hero.secondaryWeapon.id"
          [classes]="[
            hero.id,
            canUseWeapon(hero.secondaryWeapon) ? '' : 'disabled',
            preparedWeapon && preparedWeapon.id === hero.secondaryWeapon.id ? 'selected' : '',
            isActive ? 'active-hero' : ''
          ]"
          *ngIf="hero.secondaryWeapon && !hero.secondaryWeapon.isPassive"
          [tooltipText]="getEquipTooltip(hero.secondaryWeapon, hero.id)"
          (clicked)="prepareWeaponClicked(hero.secondaryWeapon)"
          [left]="hero.secondaryWeapon.isUsed ? '1' : ''"
        ></app-ability-btn>
      </div>
    </div>
    <div class="group abilities">
      <div class="buttons">
        <app-ability-btn
          *ngFor="let ability of hero.abilities"
          [icon]="hero.id + '/' + ability.id"
          [classes]="[
            hero.id,
            isActive ? 'active-hero' : '',
            ability.isPassive ? 'passive' : '',
            preparedAbility && preparedAbility.id === ability.id ? 'selected' : '',
            ability.isPassive || checkAbilityForUse(ability) ? '' : 'disabled'
          ]"
          [tooltipText]="getAbilityTooltip(ability, hero.id)"
          [left]="ability.left > 0 ? ability.left : ''"
          (click)="prepareAbilityClicked(ability)"
        ></app-ability-btn>
      </div>
    </div>
    <app-ability-btn
      [icon]="'duration'"
      [classes]="[hero.id, isActive ? 'active-hero' : '', 'end-turn']"
      (clicked)="endTurnClicked()"
    ></app-ability-btn>
    <app-ability-btn
      [icon]="'upgrade'"
      [classes]="[hero.id, isActive ? 'active-hero' : '', 'upgrade']"
      (clicked)="showUpgradePopup()"
    ></app-ability-btn>
  </div>
  <div class="action-bar-wrapper" *ngIf="hero.effects.length > 0">
    <div class="group effects">
      <div class="buttons">
        <app-ability-btn
          *ngFor="let buff of getEffects(hero.effects, true)"
          [icon]="buff.casterId + '/' + buff.id"
          [classes]="[buff.casterId, isActive ? 'active-hero' : '', 'btn-small', 'passive']"
          [tooltipText]="getEffectTooltip(buff, buff.casterId)"
          [left]="buff.left"
        ></app-ability-btn>
      </div>
    </div>
    <div class="group effects">
      <div class="buttons">
        <app-ability-btn
          *ngFor="let debuff of getEffects(hero.effects, false)"
          [icon]="debuff.casterId + '/' + debuff.id"
          [classes]="[debuff.casterId, isActive ? 'active-hero' : '', 'btn-small', 'passive']"
          [tooltipText]="getEffectTooltip(debuff, debuff.casterId)"
          [left]="debuff.left"
        ></app-ability-btn>
      </div>
    </div>
  </div>
  <div class="action-bar-wrapper" *ngFor="let pet of hero.pets">
    <div class="group">
      <div class="buttons">
        <img [src]="'./assets/images/portraits/' + pet.id + '.png'" class="portrait" [ngClass]="hero.id" />
        <div class="pet-info-wrapper">
          <div class="pet-abilities group">
            <div class="group-name">{{ 'PET.' + pet.id | translate }}</div>
            <div class="buttons">
              <app-ability-btn
                [icon]="'move'"
                [classes]="[
                  hero.id,
                  isActive ? 'active-hero' : '',
                  petCanMove(pet) ? '' : 'disabled',
                  activePet?.id === pet.id && !preparedPetAbility ? 'selected' : ''
                ]"
                [tooltipText]="'PET.move' | translate"
                (click)="petMoveClicked(pet)"
              ></app-ability-btn>
              <app-ability-btn
                [icon]="pet.id + '/' + pet.ability.id"
                [classes]="[
                  hero.id,
                  isActive ? 'active-hero' : '',
                  preparedPetAbility && preparedPetAbility.id === pet.ability.id ? 'selected' : '',
                  checkPetAbilityForUse(pet.ability) ? '' : 'disabled'
                ]"
                [tooltipText]="getAbilityTooltip(pet.ability, pet.id)"
                [left]="pet.ability.left > 0 ? pet.ability.left : ''"
                (click)="preparePetAbilityClicked(pet.ability, pet)"
              ></app-ability-btn>
            </div>
          </div>
          <div class="pet-info">
            <div class="bar-group">
              <app-icon [icon]="'hearts'"></app-icon>
              <app-resource-bar [value]="pet.health" [maxValue]="pet.maxHealth" [type]="'health'"></app-resource-bar>
            </div>
            <div class="pet-effects" *ngIf="pet.effects.length > 0">
              <div class="group">
                <div class="buttons">
                  <app-ability-btn
                    *ngFor="let buff of getEffects(pet.effects, true)"
                    [icon]="buff.casterId + '/' + buff.id"
                    [classes]="[buff.casterId, isActive ? 'active-hero' : '', 'btn-small', 'passive']"
                    [tooltipText]="getEffectTooltip(buff, buff.casterId)"
                    [left]="buff.left"
                  ></app-ability-btn>
                </div>
              </div>
              <div class="group">
                <div class="buttons">
                  <app-ability-btn
                    *ngFor="let debuff of getEffects(pet.effects, false)"
                    [icon]="debuff.casterId + '/' + debuff.id"
                    [classes]="[debuff.casterId, isActive ? 'active-hero' : '', 'btn-small', 'passive']"
                    [tooltipText]="getEffectTooltip(debuff, debuff.casterId)"
                    [left]="debuff.left"
                  ></app-ability-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
