@import 'variables.scss';

:host {
  .hero-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid $color-dark;
    box-sizing: border-box;

    &.active {
      @include hero-color-shadows();
    }

    .hero-info-wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      .hero-info {
        width: calc(100% - 69px);
        margin-left: 5px;
        display: flex;
        padding: 5px;

        .attributes {
          width: 80px;
          display: flex;
          flex-direction: column;

          .name {
            font-size: 12px;
            font-weight: bold;
            text-align: left;
            text-transform: capitalize;
            margin-bottom: 5px;
            height: 16px;
          }

          .attribute-wrapper {
            display: flex;
            width: 100%;
            justify-content: left;

            .attribute-group {
              display: flex;
              flex-direction: column;
              margin-right: 5px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .bars-wrapper {
          display: flex;
          flex-direction: column;
          width: calc(100% - 84px);
          justify-content: space-between;
          margin-left: 5px;

          .bar-group {
            display: flex;
            width: 100%;
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }

            app-icon {
              width: 16px;
              height: 16px;
            }

            app-resource-bar {
              width: calc(100% - 54px);
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }

        .attribute {
          display: flex;
          margin-bottom: 5px;
          align-items: center;

          &:last-child {
            margin-bottom: 0;
          }

          app-icon {
            width: 16px;
            height: 16px;
          }

          .value {
            margin-left: 5px;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }

    .action-bar-wrapper {
      display: flex;
      align-items: center;
      padding: 0 5px 5px 5px;

      app-ability-btn {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }

      .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5px;
        border: 2px solid $color-dark;
        padding: 5px;
        width: 100%;

        &.equip {
          width: 144px;
        }

        &.abilities {
          width: 190px;
          height: 54px;

          .buttons {
            justify-content: left;
          }
        }

        &.effects {
          height: 46px;
        }

        &:last-child {
          margin-right: 0;
        }

        .group-name {
          width: 100%;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 2px;
          margin-top: 2px;
        }

        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;

          .pet-info-wrapper {
            display: flex;
            width: calc(100% - 64px);

            .pet-abilities {
              width: 99px;
              margin-left: 5px;
              height: 64px;
              justify-content: center;
              padding: 0 5px 5px 5px;
            }

            .pet-info {
              width: calc(100% - 104px);
              display: flex;
              flex-direction: column;

              .bar-group {
                display: flex;
                width: 100%;
                margin-bottom: 5px;

                app-icon {
                  width: 16px;
                  height: 16px;
                }

                app-resource-bar {
                  width: calc(100% - 54px);
                  margin-left: 5px;
                  margin-right: 5px;
                }

                .attribute {
                  display: flex;
                  margin-bottom: 5px;
                  align-items: center;

                  &:last-child {
                    margin-bottom: 0;
                  }

                  app-icon {
                    width: 16px;
                    height: 16px;
                  }

                  .value {
                    margin-left: 5px;
                    font-size: 12px;
                    font-weight: bold;
                  }
                }
              }

              .pet-effects {
                display: flex;
                height: 43px;

                .group {
                  padding: 3px 5px;
                }
              }
            }
          }
        }
      }
    }

    .portrait {
      width: 64px;
      height: 64px;
      border: 4px solid $color-dark;
      background-color: $color-light;

      &.dead {
        filter: grayscale(100%);
      }

      &.paragon {
        border-color: $color-paragon;
      }

      &.highlander {
        border-color: $color-highlander;
      }

      &.druid {
        border-color: $color-druid;
      }

      &.oracle {
        border-color: $color-oracle;
      }

      &.avatar {
        border-color: $color-avatar;
      }

      &.shadow {
        border-color: $color-shadow;
      }

      &.lightbringer {
        border-color: $color-lightbringer;
      }

      &.avenger {
        border-color: $color-avenger;
      }

      &.navarch {
        border-color: $color-navarch;
      }
    }
  }
}

@media (max-width: $lg-width) {
  :host {
    .hero-info-container {
      .action-bar-wrapper {
        .group {
          &.equip {
            width: 120px;
          }

          &.abilities {
            width: 157px;
            height: 46px;
          }

          &.effects {
            height: 38px;
          }

          .buttons {
            .pet-info-wrapper {
              width: calc(100% - 64px);

              .pet-abilities {
                width: 99px;
                height: 64px;
              }

              .pet-info {
                width: calc(100% - 104px);

                .pet-effects {
                  height: 43px;
                }
              }
            }
          }
        }
      }
    }
  }
}
