<div class="hero-info-container" [ngClass]="[isActive ? 'active' : '', hero.id]">
  <div class="hero-info-wrapper">
    <img
      [src]="'./assets/images/portraits/' + hero.id + '_' + hero.gender + '.jpg'"
      class="portrait"
      [ngClass]="[hero.id, hero.isDead ? 'dead' : '']"
    />
    <div class="hero-info">
      <div class="attributes">
        <div class="name">{{ 'HERO.' + hero.id | translate }}</div>
        <div class="attribute-wrapper">
          <div class="attribute-group">
            <div class="attribute">
              <app-icon [icon]="'fist'"></app-icon>
              <div class="value">{{ hero.strength }}</div>
            </div>
            <div class="attribute">
              <app-icon [icon]="'gift-of-knowledge'"></app-icon>
              <div class="value">{{ hero.intellect }}</div>
            </div>
          </div>
          <div class="attribute-group">
            <div class="attribute">
              <app-icon [icon]="'rosa-shield'"></app-icon>
              <div class="value">{{ hero.armor }}</div>
            </div>
            <div class="attribute">
              <app-icon [icon]="'eye-shield'"></app-icon>
              <div class="value">{{ hero.will }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bars-wrapper">
        <div class="bar-group">
          <app-icon [icon]="'wingfoot'"></app-icon>
          <app-resource-bar [value]="hero.energy" [maxValue]="hero.maxEnergy" [type]="'energy'"></app-resource-bar>
        </div>
        <div class="bar-group">
          <app-icon [icon]="'hearts'"></app-icon>
          <app-resource-bar [value]="hero.health" [maxValue]="hero.maxHealth" [type]="'health'"></app-resource-bar>
          <div class="attribute">
            <app-icon [icon]="'heart-plus'"></app-icon>
            <div class="value">{{ hero.regeneration }}</div>
          </div>
        </div>
        <div class="bar-group">
          <app-icon [icon]="'magic-palm'"></app-icon>
          <app-resource-bar [value]="hero.mana" [maxValue]="hero.maxMana" [type]="'mana'"></app-resource-bar>
          <div class="attribute">
            <app-icon [icon]="'meditation'"></app-icon>
            <div class="value">{{ hero.mind }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-bar-wrapper">
    <div class="group equip">
      <div class="buttons">
        <div class="ability-btn passive" [ngClass]="hero.id" [tooltip]="getEquipTooltip(hero.chestpiece, hero.id)">
          <app-icon [icon]="hero.id + '/' + hero.chestpiece.id"></app-icon>
          <div class="overlay"></div>
        </div>
        <div
          class="ability-btn passive"
          [ngClass]="hero.id"
          *ngIf="hero.secondaryWeapon && hero.secondaryWeapon.isPassive"
          [tooltip]="getEquipTooltip(hero.secondaryWeapon, hero.id)"
        >
          <app-icon [icon]="hero.id + '/' + hero.secondaryWeapon.id"></app-icon>
          <div class="overlay"></div>
        </div>
        <div
          class="ability-btn"
          [ngClass]="[
            hero.id,
            canUseWeapon(hero.primaryWeapon) ? '' : 'disabled',
            preparedWeapon && preparedWeapon.id === hero.primaryWeapon.id ? 'selected' : ''
          ]"
          [tooltip]="getEquipTooltip(hero.primaryWeapon, hero.id)"
          (click)="prepareWeaponClicked(hero.primaryWeapon)"
        >
          <app-icon [icon]="hero.id + '/' + hero.primaryWeapon.id"></app-icon>
          <div class="overlay"></div>
        </div>
        <div
          class="ability-btn"
          [ngClass]="[
            hero.id,
            canUseWeapon(hero.secondaryWeapon) ? '' : 'disabled',
            preparedWeapon && preparedWeapon.id === hero.secondaryWeapon.id ? 'selected' : ''
          ]"
          *ngIf="hero.secondaryWeapon && !hero.secondaryWeapon.isPassive"
          [tooltip]="getEquipTooltip(hero.secondaryWeapon, hero.id)"
          (click)="prepareWeaponClicked(hero.secondaryWeapon)"
        >
          <app-icon [icon]="hero.id + '/' + hero.secondaryWeapon.id"></app-icon>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
    <div class="group abilities">
      <div class="buttons">
        <div class="ability-btn" [ngClass]="hero.id" *ngFor="let ability of hero.abilities">
          <app-icon [icon]="hero.id + '/' + ability.name"></app-icon>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
    <div class="ability-btn end-turn" [ngClass]="hero.id" (click)="endTurnClicked()">
      <app-icon [icon]="'duration'"></app-icon>
      <div class="overlay"></div>
    </div>
    <div class="ability-btn upgrade" [ngClass]="[hero.id, hero.crystals ? '' : 'disabled']">
      <app-icon [icon]="'upgrade'"></app-icon>
      <div class="overlay"></div>
    </div>
  </div>
  <div class="action-bar-wrapper" *ngIf="hero.effects.length > 0">
    <div class="group">
      <div class="buttons">
        <div class="ability-btn btn-small" [ngClass]="hero.id" *ngFor="let buff of getEffects(hero.effects, true)">
          <app-icon [icon]="hero.id + '/' + buff.name"></app-icon>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
    <div class="group">
      <div class="buttons">
        <div class="ability-btn btn-small" [ngClass]="hero.id" *ngFor="let debuff of getEffects(hero.effects, false)">
          <app-icon [icon]="hero.id + '/' + debuff.name"></app-icon>
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-bar-wrapper" *ngFor="let pet of hero.pets">
    <div class="group">
      <div class="buttons">
        <app-icon class="portrait" [icon]="hero.id + '/' + pet.name" [ngClass]="hero.id"></app-icon>
        <div class="pet-info-wrapper">
          <div class="pet-abilities group">
            <div class="group-name">{{ 'PET.' + pet.id | translate }}</div>
            <div class="buttons">
              <div class="ability-btn" [ngClass]="hero.id">
                <app-icon [icon]="'move'"></app-icon>
                <div class="overlay"></div>
              </div>
              <div class="ability-btn" [ngClass]="hero.id">
                <app-icon [icon]="hero.id + '/' + pet.ability.name"></app-icon>
                <div class="overlay"></div>
              </div>
            </div>
          </div>
          <div class="pet-info">
            <div class="bar-group">
              <app-icon [icon]="'hearts'"></app-icon>
              <app-resource-bar [value]="pet.health" [maxValue]="pet.maxHealth" [type]="'health'"></app-resource-bar>
            </div>
            <div class="pet-effects" *ngIf="pet.effects.length > 0">
              <div class="group">
                <div class="buttons">
                  <div
                    class="ability-btn btn-small"
                    [ngClass]="hero.id"
                    *ngFor="let buff of getEffects(pet.effects, true)"
                  >
                    <app-icon [icon]="hero.id + '/' + buff.name"></app-icon>
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
              <div class="group">
                <div class="buttons">
                  <div
                    class="ability-btn btn-small"
                    [ngClass]="hero.id"
                    *ngFor="let debuff of getEffects(pet.effects, false)"
                  >
                    <app-icon [icon]="hero.id + '/' + debuff.name"></app-icon>
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
