$color-dark: #1e1e1e;
$color-dark-transparent-15: rgba(30, 30, 30, 0.15);
$color-dark-transparent-20: rgba(30, 30, 30, 0.2);
$color-gray: #949494;
$color-light-gray: #E6E6E6;
$color-light: #ffffff;
$color-primary: #900b0b;
$color-secondary: #e2b021;

$color-paragon: #c41e3a;
$color-highlander: #0080ff;
$color-druid: #25b324;
$color-oracle: #4b0082;
$color-avatar: #00bd71;
$color-shadow: #000000;
$color-lightbringer: #ffd700;
$color-avenger: #f4a460;

$color-energy: #00bd71;
$color-health: #eb3434;
$color-mana: #0080ff;

$page-content-min-height: 690px;
$lg-width: 1400px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 576px;

@mixin hero-color-shadows() {
    &.paragon {
      box-shadow: 0 0 15px 2px $color-paragon;
    }
  
    &.highlander {
      box-shadow: 0 0 15px 2px $color-highlander;
    }
  
    &.druid {
      box-shadow: 0 0 15px 2px $color-druid;
    }
  
    &.oracle {
      box-shadow: 0 0 15px 2px $color-oracle;
    }
  
    &.avatar {
      box-shadow: 0 0 15px 2px $color-avatar;
    }
  
    &.shadow {
      box-shadow: 0 0 15px 2px $color-shadow;
    }
  
    &.lightbringer {
      box-shadow: 0 0 15px 2px $color-lightbringer;
    }
  
    &.avenger {
      box-shadow: 0 0 15px 2px $color-avenger;
    }
  }

  @mixin hero-border-colors() {
    &.paragon {
      border-color: $color-paragon;

      &.active {
        box-shadow: 0 0 15px 2px $color-paragon;
      }
    }

    &.highlander {
      border-color: $color-highlander;

      &.active {
        box-shadow: 0 0 15px 2px $color-highlander;
      }
    }

    &.druid,
    &.wolf {
      border-color: $color-druid;

      &.active {
        box-shadow: 0 0 15px 2px $color-druid;
      }
    }

    &.oracle {
      border-color: $color-oracle;

      &.active {
        box-shadow: 0 0 15px 2px $color-oracle;
      }
    }

    &.avatar {
      border-color: $color-avatar;

      &.active {
        box-shadow: 0 0 15px 2px $color-avatar;
      }
    }

    &.shadow {
      border-color: $color-shadow;

      &.active {
        box-shadow: 0 0 15px 2px $color-shadow;
      }
    }

    &.lightbringer {
      border-color: $color-lightbringer;

      &.active {
        box-shadow: 0 0 15px 2px $color-lightbringer;
      }
    }

    &.avenger {
      border-color: $color-avenger;

      &.active {
        box-shadow: 0 0 15px 2px $color-avenger;
      }
    }
  }
