$color-dark: #1e1e1e;
$color-primary: #900b0b;
$color-secondary: #e2b021;

$color-paragon: #c41e3a;
$color-highlander: #0080ff;
$color-druid: #25b324;
$color-oracle: #4b0082;
$color-avatar: #00bd71;
$color-shadow: #000000;
$color-lightbringer: #ffd700;
$color-avenger: #f4a460;

$color-energy: #00bd71;
$color-health: #eb3434;
$color-mana: #0080ff;
